/* HERO SECTION */

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.2rem;
  position: relative;
  overflow-y: hidden;
}

.hero-subtitle {
  text-align: center;
  margin-top: 2.4rem;
  color: #f0f9ff;
}

.hero-subtitle span {
  color: #881337;
}

.hero-subtitle p {
  display: inline-block;
}

.hero-subtitle .hero-portuguese-subtitle-text {
  display: none;
}

.hero-title {
  text-transform: uppercase;
  font-family: "Black", "sans-serif";
  font-size: 4.4rem;
}

.subtitle-span {
  display: none;
}

.active-word {
  display: inline-block;
  animation: subtitleSpanAnimation 2s;
}

@keyframes subtitleSpanAnimation {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 0.95;
  }

  100% {
    transform: translateY(0);
    opacity: 0.95;
  }
}

/*******************/
/*     NAV-BAR     */
/*******************/

.nav-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  top: 3.2rem;
  width: 100%;
  padding: 0 6.2rem;
}

.coffee-icon {
  height: 3.6rem;
  width: 3.6rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.nav-list li {
  position: relative;
}

.nav-list li a:link,
.nav-list li a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #f0f9ff;
  border-bottom: 1px solid transparent;
  padding: 0.5rem;
}

.nav-list li a:link::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -7px;
  background-color: transparent;
}

.nav-list li a:hover::before {
  animation: stretchBorder 0.3s ease-in-out forwards;
  background-color: #942b4b;
}

@keyframes stretchBorder {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

/* LANGUAGE */

.languages-container {
  display: flex;
  gap: 1.2rem;
}

.language {
  padding: 1.2rem;
  border-radius: 50px;
  border: 1px #f0f9ff solid;
  font-size: 1.2rem;
  font-family: "Black";
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.language:hover {
  background-color: #f0f9ff;
  color: #0a1538;
}

.languages-container .chosen-language {
  color: #0a1538;
  background-color: #f0f9ff;
}

/* Mobile */

.menu-button {
  position: absolute;
  right: 50%;
  transform: translate(50%);
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: transparent;
  border: none;
  color: #f0f9ff;
  cursor: pointer;
  font-family: "Medium";
  text-transform: uppercase;
  display: none;
  font-size: 2.4rem;
  box-shadow: none;
}

/************/
/* SIDE BAR */
/************/
.bar::before {
  content: "";
  display: inline-block;
  transform: translate(calc(-50% + 0.25rem), 0%);
}

.bar::before,
.bar::after {
  background-color: #881337;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: inline-block;
}

.bar {
  position: absolute;
  width: 0.5rem;
  height: calc(100% - 6.2rem - 4.45rem);
  right: 1.8rem;
  top: 6.2rem;
  background-color: #881337;
}

.bar::after {
  content: "";
  position: absolute;
  top: 100%;

  transform: translate(calc(-50% - 1.8rem - 0.5rem), -50%);
  display: inline-block;
}

/*****************/
/* ABOUT SECTION */
/*****************/

.about-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-section .text-card,
.about-section .image-card {
  border-radius: 10px;
}

.about-section .text-card {
  background-image: linear-gradient(
    0deg,
    rgb(12, 25, 70),
    rgba(148, 43, 74, 0.4),
    rgb(12, 25, 70)
  );
  padding: 7.2rem;
}
.about-section .image-card {
  height: 80%;
  margin-left: -4.8rem;
  transform: rotateZ(5deg);
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/me2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.411);
}

.about-script {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  line-height: 1.6;
  margin-right: 4.8rem;
}

/******************/
/* SKILLS SECTION */
/******************/

.skills-container {
  display: flex;
  flex-direction: column;
  height: 35rem;
}

.skills-container .hard-skills,
.skills-container .soft-skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.2rem;
  row-gap: 7.2rem;
  align-items: start;
  padding: 1.6rem;
}

.skills-container .soft-skills {
  grid-template-columns: repeat(3, 1fr);
}

.skill-type {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.hard-skills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soft-skills .skill img {
  width: 5rem;
  height: 5rem;
  display: inline-block;
}

.skill-desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.skill-desc-wrapper span {
  color: #f0f9ff;
  display: inline-block;
  font-size: 1.2rem;
}

.skill-logo {
  height: 4rem;
  width: 5rem;
}

.skill-bar {
  width: 100%;
  height: 1rem;
  margin: 1.6rem;
  border-radius: 2.5rem;
  background: black;
}

.skill-bar .completed {
  height: 1rem;
  border-radius: 2.5rem;
  background: #881337;
}

#firebase .skill-bar .completed {
  width: 40%;
}

#spring .skill-bar .completed {
  width: 50%;
}

#java .skill-bar .completed {
  width: 70%;
}

#javascript .skill-bar .completed {
  width: 90%;
}

#react .skill-bar .completed {
  width: 50%;
}

#mysql .skill-bar .completed {
  width: 40%;
}

.skill-bar::after {
  display: inline-block;
  margin-left: calc(100% - 2.5rem);
  margin-top: 0.6rem;
}

#firebase .skill-bar::after {
  content: "40%";
}

#spring .skill-bar::after {
  content: "50%";
}

#java .skill-bar::after {
  content: "70%";
}

#javascript .skill-bar::after {
  content: "90%";
}

#react .skill-bar::after {
  content: "50%";
}

#mysql .skill-bar::after {
  content: "40%";
}

.skills-type-switcher {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
  gap: 1.8rem;
  text-transform: uppercase;
}

[name="chevron-forward-outline"],
[name="chevron-back-outline"] {
  cursor: pointer;
}

.skills-list.skills-list-hidden {
  display: none;
}

.skill-switcher-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #f0f9ff;
  font-size: 2.4rem;
}

.skills-type-text {
  display: none;
}

.skills-type-text.current-skills-type {
  display: inline-block;
}

.next-skills-text-animation {
  animation: next-skills-text-animation 300ms ease-in-out;
}

@keyframes next-skills-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.previous-skills-text-animation {
  animation: previous-skills-text-animation 300ms ease-in-out;
}

@keyframes previous-skills-text-animation {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/********************/
/* PROJECTS SECTION */
/********************/

.projects-section p {
  margin-bottom: 4.8rem;
  font-size: 1.6rem;
}

.projects-section h3 {
  margin-bottom: 0.8rem;
}

.projects-container {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: repeat(1fr, 3);
  align-items: center;
  justify-content: center;
}

.repository-link:link,
.repository-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #f0f9ff;
  border-bottom: 2px #f0f9ff solid;
  display: inline-block;
  margin-bottom: 3.6rem;
  padding-bottom: 0.4rem;
  transition: 0.3s ease-in-out;
}

.repository-link:hover,
.repository-link:active {
  color: #942b4b;
  border-bottom: transparent 2px solid;
}

.project {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: none;
}

.project-apresentation {
  width: 80rem;
  height: 40rem;
  background: rgba(0, 0, 0, 0.342);
}

.current-project {
  display: block;
}

.slide-animation {
  animation: previousSlideAnimation 0.8s ease-in;
}
@keyframes nextSlideAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100%;
  }
}

@keyframes previousSlideAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100%;
  }
}

.project img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.previous-button {
  left: calc(50% - 40rem);
  z-index: 5;
  transform: translate(-50%, 50%);
}

.slide-button {
  position: absolute;
  bottom: calc(6.2rem + 3.6rem + 20rem);
  height: 5rem;
  width: 5rem;
  border-radius: 25px;
  background-color: #942b4a;
  opacity: 70%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.slide-button:hover {
  opacity: 100%;
}

.next-button {
  right: calc(50% - 40rem);
  transform: translate(50%, 50%);
}

[name="caret-back-outline"],
[name="caret-forward-outline"] {
  color: #f0f9ff;
  font-size: 2.4rem;
}

.dots-container {
  justify-self: center;
  display: flex;
  gap: 1.8rem;
}

.dot {
  color: #f0f9ff;
  font-size: 3rem;
  border-radius: 25px;
  cursor: pointer;
}

.active-dot {
  color: #881337;
}

/********************/
/* CONTACTS SECTION */
/********************/

.social-media-container {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  gap: 4.8rem;
  margin-top: 2rem;
}

.social-media a {
  display: flex;
  gap: 0.8rem;
  border: #881337;
  background-color: #881337;
  padding: 1.6rem 3.2rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

[name="logo-github"],
[name="logo-linkedin"] {
  font-size: 2rem;
}

.social-media a:link,
.social-media a:visited {
  color: #f0f9ff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.social-media a:hover,
.social-media a:active {
  color: #881337;
  background-color: #f0f9ff;
}

.send-email-card {
  width: 60%;
  background-image: linear-gradient(
    0deg,
    rgb(12, 25, 70),
    rgba(148, 43, 74, 0.4),
    rgb(12, 25, 70)
  );
  border-radius: 2.5rem;
}

.send-email-card h3 {
  text-align: center;
  text-transform: uppercase;
}

.label-input {
  display: flex;
  margin-top: 3rem;
  gap: 0.8rem;
  flex-direction: column;
  position: relative;
}

.email-form-wrapper {
  padding: 4.8rem;
}

form label,
form input,
.send-email-button {
  font-size: 1.6rem;
}

form input,
.send-email-button {
  border-radius: 1rem;
  padding: 1.6rem;
}

.required-p {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  color: #f0f9ff;
}

.required-p span {
  color: #942b4a;
}
.send-email-button {
  width: 31.77rem;
  margin-left: calc(100% - 31.77rem);
  display: inline-block;
  background-color: #942b4a;
  border: none;
  margin-top: 3rem;
  font-family: "Medium";
  text-transform: uppercase;
  color: #f0f9ff;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  text-align: center;
  text-decoration: none;
}

.send-email-button:hover {
  color: #942b4a;
  background-color: #f0f9ff;
}

.h3-wrapper {
  width: 60%;
  text-align: center;
}

.or-h3 {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.social-media-p {
  font-size: 1.6rem;
}
/**********/
/* FOOTER */
/**********/

footer {
  padding: 1.6rem;
}
