@media (max-width: 930px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 550px) {
  .nav-list {
    display: none;
  }

  html {
    font-size: 4px;
  }

  .menu-button {
    display: inline-block;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .mobile-menu .nav-list {
    position: absolute;
    top: 150%;
    right: 50%;
    transform: translate(50%);
    background-color: #f0f9ff;
    padding: 1.6rem 3.2rem;
    border-radius: 5px;
  }

  .opened {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .opened::after {
    content: "";
    border-bottom: #f0f9ff solid 40px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: calc((105px - 40.8px) / 2 - 30px + 5.55px);
    top: -41%;
    z-index: -1;
  }

  .nav-list li a:link,
  .nav-list li a:visited {
    color: #0c1946;
  }
}
