@media (max-width: 930px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 550px) {
  .nav-list {
    display: none;
  }

  html {
    font-size: 4px;
  }
}
