/* 
  COLORS: 
    MAIN: #1e40af
    SECONDARY: #881337
    GREY: #171717
    WHITE: #f0f9ff

  FONT'S SIZES:
    5rem, 3rem


*/

/* FONTS */
@font-face {
  font-family: "Black";
  src: url("../src/fonts/Inter/static/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("../src/fonts/Inter/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: url("../src/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Medium";
  color: #f0f9ff;
  background-image: linear-gradient(135deg, #060d23f6, #0a1538, #0c1a46);
  overflow-x: hidden;
}

.container {
  position: relative;
}

h2 {
  color: #881337;
  font-family: "Bold";
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1.2px;
}

h3 {
  color: #171717;
  font-family: "Medium";
  font-size: 2.4rem;
}
.section-separator {
  background-color: #881337;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 3.2rem;
  transform: translate(calc(50% - 0.25rem), -50%);
}

#first-doc-section-text {
  top: calc(50% + 6.2rem - 2.5rem);
}

.doc-section-text {
  position: absolute;
  right: 4.4rem;
  top: 50%;
  font-size: 1.4rem;
  writing-mode: vertical-lr;
  font-family: "bold";
  transform: translateY(-50%);
}

.doc-section-text:nth-child(2n-1) {
  color: #f0f9ff;
}

.doc-section-text:nth-child(2n) {
  color: #171717;
}

/* .black-p {
  color: #171717;
} */

section {
  padding: 3.2rem 6.2rem 6.2rem 6.2rem;
  position: relative;
}

/* HERO SECTION */

header {
  height: 100vh;
  /* background: linear-gradient(90deg, #1e40af, #1e40af); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.2rem;
  position: relative;
  overflow-y: hidden;
}

.hero-subtitle {
  text-align: center;
  margin-top: 2.4rem;
  color: #f0f9ff;
}

.hero-subtitle span {
  color: #881337;
}
.hero-title {
  text-transform: uppercase;
  font-family: "Black", "sans-serif";
  font-size: 4.4rem;
  /* letter-spacing: 1.2px; */
}

.subtitle-span {
  display: none;
}

.active-word {
  display: inline-block;
  animation: subtitleSpanAnimation 2s;
}

@keyframes subtitleSpanAnimation {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 0.95;
  }

  100% {
    transform: translateY(0);
    opacity: 0.95;
  }
}

/* NAV-BAR */

.language-box {
  position: absolute;
  top: 2.4rem;
  right: 8.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  border: 1px solid #f0f9ff;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  top: 6.2rem;
  left: 6.2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.nav-list li a {
  cursor: pointer;
  text-decoration: none;
  color: #f0f9ff;
}

/* BAR */

.bar::before {
  content: "1";
  text-align: center;
  display: inline-block;
  transform: translate(calc(-50% + 0.25rem), 0%);
}

.bar::before,
.bar::after {
  background-color: #881337;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: inline-block;
}

.bar {
  position: absolute;
  width: 0.5rem;
  height: calc(100% - 6.2rem);
  right: 3.2rem;
  top: 6.2rem;
  background-color: #881337;
}

.topless-bar {
  top: 0px;
}

/* ABOUT SECTION */

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-script {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  line-height: 1.6;
}

.about-img-wrapper {
  display: flex;
  justify-content: center;
}

.myself-photo {
  width: 60%;
}

.typing-gif {
  width: 50%;
}

.gif-desc {
  font-size: 1.4rem;
  color: #454545;
}

/* SKILLS SECTION */

.skills-section {
  /* background-color: #0c1a46; */
}

.skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  align-items: start;
  padding: 1.6rem;
}

.skill {
  display: flex;
  align-items: center;
}

.skill-desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.skill-desc-wrapper span {
  color: #f0f9ff;
  display: inline-block;
}

.skill-logo {
  height: 4rem;
  width: 5rem;
}

.skill-bar {
  width: 100%;
  height: 1rem;
  background: black;
  margin: 1.6rem;
  border-radius: 2.5rem;
}
